{% extends "posts/base.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-4 border shadow-lg bg-light rounded">
                <h2 class="text-center mb-4 mt-3">Login</h2>
                <form method="post" class="mx-auto" style="max-width: 400px;">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}"><h6>Email</h6></label>
                        {{ form.username|add_class:"form-control" }}
                        {% if form.username.errors %}
                        <div class="text-danger small mt-1">
                            {{ form.username.errors }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}"><h6>Password</h6></label>
                        {{ form.password|add_class:"form-control" }}
                        {% if form.password.errors %}
                            <div class="text-danger small mt-1">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>

                    {% if form.non_field_errors %}
                        <div class="text-danger small mt-1">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mb-3" style="width: 110px;">Login</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
{% endblock content %}